body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1F2937;
    height: 50px;
    padding: 20px;
}   

.logo {
    font-weight: bold;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}