body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F2937;
    height: 50px;
    padding: 20px;
    gap: 750px;
    flex-shrink: 1;
}   

.logo {
    font-weight: bold;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 75px;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 40px;
}

.placeholder-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 500px;
    height: 225px;
    
}

.main-text {
    width: 400px;
    margin-bottom: -15px;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary-text {
   width: 400px;
   font-size: 18x;
   color: #f9faf8;

}

.sign-up {
    display: flex;
    width: 100px;
    justify-content: center;
    border-radius: 5px;
    border: 0px solid ;
    background-color: #3882f6;
    padding: 5px;
    color: white;

}

.information-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-image, .info-text {
    width: 150px;
}

.info-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.info-image {
    height: 150px;
    border-radius: 10px;
    border: 4px, solid #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-box {
    width: fit-content; 
    max-width: 800px; 
    min-width: 0;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
}

.author {
    margin-top: -50px;
    font-weight: bold;
    text-align: right;
}

.background-container {
    display: flex;
    justify-content: center;
    padding: 100px; 
    
}

.end-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width: 860px;
    padding: 40px;
    border-radius: 8px;
    color: white;
   
}

.sign-up-container {
    margin-right: 150px;
}

.sign-up-container h3, 
.sign-up-container p {
    margin: 0; 
}

.end-container .sign-up {
    border: 2px, solid, white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 75px;
    color: white ;
}


